################################## Host Installation #####################################
############### Must edit these bits manually as variables don't work here ###############
##########################################################################################

# Accept the VMware End User License Agreement
vmaccepteula

# Clear partitions, ensure no backup drives or anything are connected
#clearpart --alldrives --overwritevmfs

# Set the root password
rootpw VMware1! 

# Install on designated NVMe
# https://techdocs.broadcom.com/us/en/vmware-cis/vsphere/vsphere/9-0/esx-upgrade/before-upgrading-hosts/esxi-storage-device-names-and-identifiers.html
# https://techdocs.broadcom.com/us/en/vmware-cis/vsphere/vsphere/9-0/esx-installation-and-setup/installing-esxi/installing-esxi-by-using-a-script/installation-and-upgrade-scripts-used-for-esxi-installation/disk-device-names.html
# To grab the correct drive boot the ESX installer then run
# /etc/init.d/SSH start
# vdq -q
# esxcli storage core device list
install --disk=t10.NVMe____SIX_X7400_Pro_SSD_______________________0000000000346848 --overwritevmfs

# Set the network configuration on the first network adapter
network --bootproto=static --ip=10.166.100.10 --gateway=10.166.100.254 --nameserver=10.166.101.254 --netmask=255.255.255.0 --hostname=esx01.aclab.uk --device=vmnic1 --addvmportgroup=1 --vlanid=100

# Runs second part of the installation after the reboot
%firstboot --interpreter=busybox

################################## Variables #############################################
############### For speed edit these rather than the script itself   #####################
##########################################################################################

ssh_root_key="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINHl20St5gyzVw/NXHpNcS8nUXwgrYHIvP/+f3ijtGAw"
ntp_server=10.166.101.254
nvme_tiering_device="t10.NVMe____Samsung_SSD_990_EVO_Plus_1TB____________EEF2A35159382500"
vmfs_datastore_name="local-esx01"
esx_hostname=esx01.aclab.uk
management_switch_mtu=9000
management_vlan=100
vm_vlan=101

################################### Host Configuration ##################################

# Enter maintenance mode
vim-cmd hostsvc/maintenance_mode_enter

# Ensure hostd is ready
while ! vim-cmd hostsvc/runtimeinfo; do
sleep 10
done

# enable & start SSH and ESX Shell
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

# Suppress ESXi Shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1

# Supress core dump warning
esxcli system settings advanced set -o /UserVars/SuppressCoredumpWarning -i 1

# Regen certs for VCF install
/bin/generate-certificates

# Rename local VMFS datastore
vim-cmd hostsvc/datastore/rename datastore1 ${vmfs_datastore_name}

# Configure NTP
esxcli system ntp set -e true -s $ntp_server

# NSX Edge workaround for non-EPYC systems
echo 'cpuid.brandstring = "AMD EPYC Ryzen 9 9955HX"' >> /etc/vmware/config

# Workaround required for AMD Ryzen-based CPU to allow NVMe Tiering
echo 'monitor_control.disable_apichv ="TRUE"' >> /etc/vmware/config

# Performance tweak for zen5 processor architecture
# Disabled 14006-26 as it made no difference to performance
#esxcli system settings kernel set -s entropySources -v 1

# Enable & Configure NVMe Tiering
# Check with the below commands
# esxcli memtier status get
# esxcli system tierdevice list
# esxcli system settings advanced list -o /Mem/TierNvmePct
# memstats -r vmtier-stats -u mb -s name:memSize:active:tier1Target:tier1Consumed:tier1ConsumedPeak:comsumed
esxcli system settings kernel set -s MemoryTiering -v TRUE
esxcli system settings advanced set -o /Mem/TierNvmePct -i 100
esxcli system tierdevice create -d /vmfs/devices/disks/${nvme_tiering_device}
esxcli memtier enable -d /vmfs/devices/disks/${nvme_tiering_device}

# Configure SSH keys if provided
if [ -n "${ssh_root_key}" ]; then
    echo "${ssh_root_key}" > /etc/ssh/keys-root/authorized_keys
fi

# Enable inter vm transparent memory sharing
# https://knowledge.broadcom.com/external/article/323624/additional-transparent-page-sharing-mana.html
esxcli system settings advanced set -o /Mem/ShareForceSalting -i 0

# Activate backing of guest large pages with host large pages. 
# Reduces TLB misses and improves performance in server workloads that use guest large pages
esxcli system settings advanced set -o /Mem/AllocGuestLargePage -i 0

# vSAN Optimizations, stops guest VM latency during vSAN resync when using 10Gb on ESA 
# NOT required when using 25Gbps networking
esxcli system settings advanced set -i 1 -o /VSAN/DOMNetworkSchedulerThrottleComponent

# Configure VM Network VLAN & MTU
esxcli network vswitch standard portgroup set -p "VM Network" -v ${vm_vlan}
esxcli network vswitch standard set -m ${management_switch_mtu} -v vSwitch0

# Fix some performance issues with intel X710 hardware offload
# Disabled 14-07-26 as it made things worse
#esxcli system settings advanced set -o /Net/TcpipDefLROEnabled -i 0
#esxcli system settings advanced set -o /Net/UseHwTSO -i 0

# Perform a final reboot
reboot